*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(29 26 42);
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
    
}
#display{
    z-index: 1;
    color: rgb(255, 254, 240);
    font-size: 25px;
    margin-bottom: 60px;
    position: relative;
    left: 3px;
    top: 10px;
    /* background-color: #1b305e;
    width: 50%; */
    font-family: 'Segment7Standard';
    font-weight: normal;
    font-style: italic;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapper p{
    position: sticky;
    color: aliceblue;
    background-color: #324672;
    border-radius: 10px;
    z-index: 9999;
    font-size: 15px;
    margin-top: 50px;
}
.wrapper::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #324672;
    backdrop-filter: blur(5.3px);
    z-index: -1;
    border-radius: 50%;
    left: 21%;
    top: -24%;
    animation-name: shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
/* Rotating bar */
.circle{
    z-index: -91;
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 120px;
    position: relative;
    left: 20px;
    top: 92px;
    height: 300px;
    width: 300px;
    /* border: dashed 39px #00bbff; */
    background: linear-gradient(54deg, #00bbff 47.10000000000002px, transparent 252.10000000000002px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -320px;
    border-radius: 50%;
    padding: 0 10px;
    /* transform: rotate(25deg); */
    animation: all;
    animation-name: rot;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.opacity{
    opacity: 0.0;
}

/* keyframes for glow animation */

@keyframes shine {
    0%,100%{
        box-shadow: 0px 0px 32px -12px rgb(255 236 129);
    }
    50%{
        box-shadow: 0px 0px 32px 5px rgb(255 232 129);
    }
}

/* rotation keyframes */

@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Buttons */

button{
    background-color: #00012f40;
    padding: 10px 38px;
    border: 1px solid gray;
    border-radius: 50px;
    color: #fffbf0;
    transition: all .2s ease;
    outline: 0;
    cursor: pointer;
    
}

/* Button clicked */

.btn-container button.active,
.btn-container button.stopActive{
  pointer-events: none;
  opacity: 0.6;
  background-color:rgb(85 118 187);
}


/* riiple  animation*/

.btn_ripple.clicked {
    animation-name: ripple;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: #324672;
}


/* keyframes for ripple */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
        box-shadow: 0 0 0 20px #fff0, 0 0 0 40px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
}

/* ripple end */

/* Hover animation */
#btnstart:hover{
    box-shadow: 0px 0px 10px 1px rgb(150, 255, 129);

}

#btnstop:hover{
    box-shadow: 0px 0px 10px 1px rgb(255, 129, 129);

}
#btnreset:hover{
    box-shadow: 0px 0px 10px 1px rgb(129, 173, 255);

}


.btn-container{
    margin-top: 80px;
}

footer{
    background-color: #324672;
    color: aliceblue;
    padding: 20px;
    user-select: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}



